@if (loadingService.isLoading()) {
  <div id="overlay">
    <nz-icon nzType="loading" class="load-icon" />
  </div>
}
<!-- {{ loadingService.requestCount() }} -->

<nz-splitter nzLayout="vertical">
  <nz-splitter-panel nzDefaultSize="60%" nzMin="20%" nzMax="90%">
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
  </nz-splitter-panel>

  <nz-splitter-panel>
    <ul nz-menu nzMode="horizontal" class="horizontal-menu">
      <li nz-menu-item class="x-small">
        Sort:
      </li>
      <li nz-submenu nzIcon="funnel-plot">
        <ul>
          <li class="cap" nz-menu-group nzPlacement="bottomRight">
            <ul>
              @for (item of categories; track item;) {
                <li nz-menu-item (click)="setCategory(item)">{{ item }}</li>
              }
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="setSortParameter('phq_attendance')">
        &nbsp; <nz-icon nzType="user" nzTheme="outline" /> &nbsp; 
      </li>
      <li nz-menu-item (click)="setSortParameter('predicted_end')">
        &nbsp; <nz-icon nzType="clock-circle" nzTheme="outline" /> &nbsp; 
      </li>
      <li nz-menu-item (click)="setSortParameter('')">
        &nbsp; <nz-icon nzType="redo" nzTheme="outline" /> &nbsp; 
      </li>
    </ul>

    <div class="relative">
      <div class="wrapper">
        <div class="list">
         @for (item of sharedDataService.dataSignal(); track item.id; let i = $index) {
          <div class="item">
              <nz-card [nzBordered]="false" [nzActions]="[map, capacity, endTime]">
                <div class="ant-card-meta-detail">
                  <div class="ant-card-meta-title">{{ item.title }} <span class="cap">({{ item.category }})</span></div>
                  <div class="ant-card-meta-description">
                    <span *ngFor="let e of item.entities">{{ e.name | removeSourced }}, </span>
                  </div>
                  <div class="ant-card-meta-description">{{ item.geo.address.formatted_address }}</div>
                  <div class="ant-card-meta-description">
                    Estimated end time: {{ item.predicted_end ? (item.predicted_end | customEndTime) : (item.end_local | customEndTime) }}
                  </div>
                  <div class="ant-card-meta-description">
                    Start:  {{ item.start_local | customEndTime }}
                  </div>
              </div>
              </nz-card>
              <ng-template #map>
                <a href="https://www.google.com/maps/dir/Current+Location/{{item.location[1]}},{{item.location[0]}}" target="_blank">
                  Map <nz-icon nzType="environment" nzTheme="outline" />
                </a>
              </ng-template>
              <ng-template #capacity>
                <a href="#">
                  <span *ngIf="item.phq_attendance | isEmpty"> No data</span>
                  {{ item.phq_attendance | shortNumber }} <nz-icon nzType="user" nzTheme="outline" />
                </a>
              </ng-template>
              <ng-template #endTime>
                <app-timer [itemData]="item" [itemIndex]="i"></app-timer> 
              </ng-template>
          </div>
        } 
        @empty {
          <div class="no-items-found">
            No items found.
          </div>
            
        }
        </div>
      </div>
    </div>
  </nz-splitter-panel>

</nz-splitter>

    