@if (loadingService.isLoading()) {
  <div id="overlay">
    <nz-icon nzType="loading" class="load-icon" />
  </div>
}
<!-- {{ loadingService.requestCount() }} -->
  <div class="sticky-section advert">
    <img src="https://placehold.co/360x40/444/1bde84/?text=Advertisement">
  </div>

<nz-splitter class="map-top-mar" nzLayout="vertical">
  <nz-splitter-panel nzDefaultSize="60%" nzMin="20%" nzMax="90%">
      <div class="map-container">
        <div class="map-frame">
          <div id="map"></div>
        </div>
      </div>
  </nz-splitter-panel>

  <nz-splitter-panel>
    <ul nz-menu nzMode="horizontal" class="sticky-section">
      <li nz-menu-item class="x-small" nzDisabled="true">
        Sort:
      </li>
      <li nz-submenu nzIcon="funnel-plot">
        <ul>
          <li class="cap" nz-menu-group nzPlacement="bottomRight">
            <ul>
              @for (item of categories; track item;) {
                <li nz-menu-item (click)="setCategory(item)">{{ item }}</li>
              }
            </ul>
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="setSortParameter('phq_attendance')">
        &nbsp; <nz-icon nzType="user" nzTheme="outline" /> &nbsp; 
      </li>
      <li nz-menu-item (click)="setSortParameter('predicted_end')">
        &nbsp; <nz-icon nzType="clock-circle" nzTheme="outline" /> &nbsp; 
      </li>
      <li nz-menu-item (click)="setSortParameter('')">
        &nbsp; <nz-icon nzType="redo" nzTheme="outline" /> &nbsp; 
      </li>
    </ul>

    <div class="relative">
      <div class="wrapper">
        <div class="list">
         @for (item of sharedDataService.dataSignal(); track item.id; let i = $index) {
          <div class="item">
              <nz-card [nzBordered]="false" [nzActions]="[map, capacity, endTime]">
                <div class="ant-card-meta-detail">
                  <div class="ant-card-meta-title">{{ item.title }} <span class="cap">({{ item.category }})</span></div>
                  <div class="ant-card-meta-description">
                    <span *ngFor="let e of item.entities">{{ e.name | removeSourced }}, </span>
                  </div>
                  <div class="ant-card-meta-description">{{ item.geo.address.formatted_address }}</div>
                  <hr>
                  <div class="ant-card-meta-description event-endtime-help">
                    Days-long events may have end times for the entire event, not daily closings.
                    <a href="https://www.google.com/search?q={{ item.title }}" target="_blank">Click for more info about this event.</a>
                  </div>
              </div>
              </nz-card>
              <ng-template #map>
                <div class="map-icons-ct">
                  <span (click)="openGoogleMaps(item.location[1],item.location[0])">
                    <svg xmlns="http://www.w3.org/2000/svg" height="19" width="15" viewBox="14.32 4.87961494 37.85626587 52.79038506"><path d="m37.34 7.82c-1.68-.53-3.48-.82-5.34-.82-5.43 0-10.29 2.45-13.54 6.31l8.35 7.02z" fill="#1a73e8"/><path d="m18.46 13.31a17.615 17.615 0 0 0 -4.14 11.36c0 3.32.66 6.02 1.75 8.43l10.74-12.77z" fill="#ea4335"/><path d="m32 17.92a6.764 6.764 0 0 1 5.16 11.13l10.52-12.51a17.684 17.684 0 0 0 -10.35-8.71l-10.51 12.51a6.74 6.74 0 0 1 5.18-2.42" fill="#4285f4"/><path d="m32 31.44c-3.73 0-6.76-3.03-6.76-6.76a6.7 6.7 0 0 1 1.58-4.34l-10.75 12.77c1.84 4.07 4.89 7.34 8.03 11.46l13.06-15.52a6.752 6.752 0 0 1 -5.16 2.39" fill="#fbbc04"/><path d="m36.9 48.8c5.9-9.22 12.77-13.41 12.77-24.13 0-2.94-.72-5.71-1.99-8.15l-23.57 28.05c1 1.31 2.01 2.7 2.99 4.24 3.58 5.54 2.59 8.86 4.9 8.86s1.32-3.33 4.9-8.87" fill="#34a853"/></svg>
                  </span>
                  <span (click)="flyToEvent(item.location[1],item.location[0])">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="orange" width="17px" height="20px" viewBox="-112 0 512 512"><path d="M112 316.94v156.69l22.02 33.02c4.75 7.12 15.22 7.12 19.97 0L176 473.63V316.94c-10.39 1.92-21.06 3.06-32 3.06s-21.61-1.14-32-3.06zM144 0C64.47 0 0 64.47 0 144s64.47 144 144 144 144-64.47 144-144S223.53 0 144 0zm0 76c-37.5 0-68 30.5-68 68 0 6.62-5.38 12-12 12s-12-5.38-12-12c0-50.73 41.28-92 92-92 6.62 0 12 5.38 12 12s-5.38 12-12 12z"/></svg>
                  </span>
                </div>
              </ng-template>
              <ng-template #capacity>
                <a href="#">
                  <span *ngIf="item.phq_attendance | isEmpty"> No data</span>
                  {{ item.phq_attendance | shortNumber }} <nz-icon nzType="user" nzTheme="outline" />
                </a>
              </ng-template>
              <ng-template #endTime>
                <app-timer [itemData]="item" [itemIndex]="i"></app-timer> 
              </ng-template>
          </div>
        } 
        @empty {
          <div class="no-items-found">
            <div *ngIf="emptyEvents">No items found for that category.<br><hr></div> 
            Select a filter, or tap refresh for a <br> 
             list of relevant events.
          </div>
        }
        </div>
      </div>
    </div>
  </nz-splitter-panel>

</nz-splitter>

    