// -------------------------------
$primary-color: rgb(27, 222, 132);
$secondary-color: rgb(18, 70, 46);
$soon-status: orange;
$later-status: rgb(153, 204, 255);

// ------ Timer Compoenent -------
.soon {
    color: $soon-status;
}
.later {
    color: $later-status;
}
.x-small {
    font-size: 12px;
    padding: 0 5px 0 20px !important;
}

// ------------ Loading -------------
.load-icon {
    font-size: 54px;
    color: $primary-color;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}

// -------------------------------
.sticky-section {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
  &.advert {
    height: 40px;
    background-color: #444;
    text-align: center;
  }
}
.map-top-mar {
    top: 40px !important;
    position: fixed;
}
.cap {
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
}
.popup-label {
    text-transform: capitalize;
    color: $primary-color;
}
.popup-end-time {
    color: orange;
}
// ---------
.no-items-found {
    text-align: center;
    padding: 2rem;
    color: $primary-color;
    hr {
        background-image: linear-gradient(to right, rgba($primary-color, .6) 50%, transparent 50%);
    }
}
hr {
    background-image: linear-gradient(to right, rgba(white, .45) 50%, transparent 50%); 
    background-size: 5px 3px;
    height: 1px;
    border: none;
    margin: .3rem 0;
}
// ---------
.event-endtime-help {
    font-style: italic;
    font-size: 12px;
    a {
        color: $primary-color;
        text-decoration: dotted;
    }
}


// ----------- Custom Leaflet ---------------
.leaflet-touch .leaflet-control-layers, 
.leaflet-touch .leaflet-bar {
    border: none;
}
.leaflet-container a {
    -webkit-tap-highlight-color: transparent;
}
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #222;
    border: 1px solid $primary-color;
    color: #ccc;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    border: 1px solid #ccc;
}
.leaflet-control-attribution {
    display: none;
    background-color: #121212;
    color: #ccc;
    border-top-left-radius: 6px;
}
// This is to remove the pulsing svg icon when location is on...
// Need to be careful and ensure it does not cause other issues.
.leaflet-marker-icon.leaflet-interactive {
    svg {
        circle {
            display: none;
        }
    }
}
.map-container {
    height: calc(100% - 1rem);
}
.map-frame {
    height: 100%;
}
#map {
    height: 100%;
}

// ---------- Custom NG-ZORRO ----------
.ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 0;
}
.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
    padding-left: 10px;
}
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
    font-size: 18px;
}
.ant-btn-primary,
.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: $secondary-color;
}
nz-splitter {
  position: absolute;
}
.box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-splitter-panel {
    padding: 0;
    scrollbar-color: #444 #222;
    scrollbar-width: 6px;
    &:first-of-type {
        padding: 0;
    }
}
.ant-splitter-vertical > .ant-splitter-bar .ant-splitter-bar-dragger {
    background-color: black;
    height: .75rem;
    &::after {
        height: 3px;
        width: 15px;
        background-color: #dad9df;
        border-radius: 99rem;
        top: -2px;
    }
    &::before {
        height: 16px;
        background-color: black;
    }
}
.ant-card-head,
.ant-card-head-title,
.ant-card-body {
    padding: .5rem !important;
}


// --------- Other Custom Stuff -----------
.map-icons-ct {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    span {
        &:first-of-type {
            border-right: 1px solid #303030;
            padding: 0 1.5rem;
        }
        &:nth-of-type(2) {
            padding-left: 0;
            padding: 0 1rem;
        }
    }
    
}

.pulse {
    display: block;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0%   { box-shadow: 0 0 0 0; }
    70%  { box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
}
.warning {
    color: orange;
    font-weight: bold;
}
.relative {
  position: relative;  
}
.wrapper {
  width: 100%;
  position: absolute;
}
.list {
  overflow-y: scroll;
  width: 101%;
  box-sizing: border-box;
  padding-bottom: 40px; // compensates for top advert .map-top-mar class
    &::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }
  .item {
    border-bottom: 1px solid rgba(#ccc, .3);
  }
}


